@font-face {
  font-family: ArchivoBlack;
  src: url(../../assets/fonts/ArchivoBlack-Regular.ttf);
}

@font-face {
  font-family: ArchivoNarrow;
  src: url(../../assets/fonts/ArchivoNarrow-SemiBold.ttf);
}

:root {
  --green-color: #6b946b;
  --blue-color: #206382;
  --yellow-color: #ffe594;
  --white-color: #fafafa;
  --blue-light-color: #00c2cb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ArchivoNarrow;
}

html, body, #root {
  height: 100%;
}
  
body {
  background: var(--blue-color);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 560px;
}